body, html, .container { min-width:800px; }

#logo { margin-top:40px; }

p { font-size:14px; }
.h4 { font-size:18px; }
.login-screen { background:none; }
#required-message { text-align:center; color:#C80000; padding-top:15px; }
.wfont { color:#fff; }
.fright { float:right; }
.thin { font-weight:200; }
.mbot20 { margin-bottom:20px; }

.sm-txt { font-size:14px;}
.sm-txt div { padding:0; text-align:center; }

.mtop50 { margin-top: 50px; }
.mtop10 { margin-top:10px; }
.mtop40 {margin-top:40px !important;}
.mtop50 {margin-top:50px !important;}
.mtop30 {margin-top:30px !important;}
.mtop20 {margin-top:20px !important;}

.ptop50 { padding-top:50px; }

.mright10 { margin-right:10px !important; }

.form-element { padding-bottom:0;margin-bottom:0;}
.email-wrapper textarea, .email-wrapper input[type=text] { width:100%; font-size:14px;}

.email-wrapper textarea {

}

.custom-tab-header { width:100%; }

.custom-tab { 
	background: url('/assets/img/header-tab.png') no-repeat right center; 
	width:191px; 
	height:30px; 
	margin-top:-3px;
	color:#fff;
	font-size:14px;
	float:right;
	text-align:center;
}

.red-header { background: url('/assets/img/header.png') repeat-x; /*height:104px;*/}

.register-fields p { margin-top:20px; margin-bottom:0;}

.hiddenul { display: none; font-size:14px; color:#383838; margin-bottom:20px;}

.view-details { cursor: pointer; cursor: hand; }

.emailul { list-style:none; padding-left:15px;}

.urgent-message { font-size:14px; color:red; font-weight:735px;}

.custom-signup { width:680px; margin:0 auto; text-align:center; padding-top:70px; }

.notice { font-size:20px; font-weight:800; }

.select-option { font-size:18px; }

.asgnostic-message { width:80%; margin:0 auto; text-align:center; }