body, html, .container { min-width:800px; }

#logo { margin-top:40px; }

p { font-size:14px; }
.h4 { font-size:18px; }
.login-screen { background:none; }
#required-message { text-align:center; color:#C80000; padding-top:15px; }
.wfont { color:#fff; }
.fright { float:right; }
.thin { font-weight:200; }
.mbot20 { margin-bottom:20px; }

.sm-txt { font-size:14px;}
.sm-txt div { padding:0; text-align:center; }

.mtop50 { margin-top: 50px; }
.mtop10 { margin-top:10px; }
.mtop40 {margin-top:40px !important;}
.mtop50 {margin-top:50px !important;}
.mtop30 {margin-top:30px !important;}
.mtop20 {margin-top:20px !important;}

.mright10 { margin-right:10px !important; }


.custom-tab-header { width:100%; }

.custom-tab { 
	background: url('/assets/img/header-tab.png') no-repeat right center; 
	width:191px; 
	height:26px; 
	color:#fff;
	font-size:14px;
	float:right;
	text-align:center;
}

.red-header { background: url('/assets/img/header.png') repeat-x; height:104px;}